---
sidebar_position: 5
---

# Identity Verification

At Exeedme you need to verify your identity after you play your first game.

This helps us:

- Block bots and multi-accounts
- Block cheaters trying to return to the platform
- Keep you and all players safe

You get access to:

- A trusted and secure environment
- Withdrawals after your account is at least one week old

:::important
Identity verification is extremely necessary mainly because it stops banned
players and other offenders to return to the platform
:::
