---
sidebar_position: 5
---

# Identity Verification

Why does Exeedme asks me to complete KYC?

- Avoid cheaters from cheating and win funds from the remaining players
- Fulfill AML requirements

What triggers the KYC?

- If you deposit over 100 USDX in a day 
- If you deposit over 500 USDX overall
- If your total winnings go over 20 USDX
- If you play more than 5 games

What's all the conditions for me to fulfill to be able to withdraw?

- Perform a valid KYC 
- Play at least 3 Games or 3 Battles


:::important
Identity verification is extremely necessary mainly because it stops banned
players and other offenders to return to the platform
:::
